<div style="padding: 20px">
  <h1>Animation Angular</h1>
  <button mat-raised-button color="accent" (click)="playanimation()">Animer une fois</button>
  <button mat-raised-button color="accent" (click)="playanimationEnboucle()">Animer en boucle</button>
  <div [@shake]="premier" class="square" style="background-color: red;"></div>

  <div [@bounce]="deux" class="square" style="background-color: green;"></div>

  <div [@tada]="trois" class="square" style="background-color: blue;"></div>
</div>
<div style="padding: 20px">
  <h1>Animation CSS</h1>
  <button (click)="rotates()" mat-raised-button color="accent">Faire tourner</button>
  <div [class.rotate-left]="rotate" class="square" style="background-color:orange;"></div>
</div>